/* ============================
Reset y estilos base
============================ */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    color: #000; /* Color base para texto */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 3px solid #1e4d91;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

header h1 {
    color: #1e4d91;
    font-size: 22px;
    margin: 0;
}

.login-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #eff5ff;
    color: #16396e;
    padding: 4px 9px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border: #16396e;
    transition: background 0.2s;
    box-shadow: 0 2px 8px rgba(30, 77, 145, 0.06);
    cursor: pointer;
}

.login-btn:hover {
    background-color: #16396e;
    color: #fff;
}

.icon-container {
    display: flex;
    align-items: center;
}

/* ============================
Contenedor principal
============================ */
.main-container {
    display: flex;
    min-height: calc(100vh - 60px); /* Resta la altura del header */
}

/* ============================
Sidebar (Menú lateral)
============================ */
.sidebar {
    width: 10%;
    background-color: #1e4d91;
    padding: 20px;
    color: white;
}

.perrito-img {
    width: 95%;
    max-width: 200px; /* Limita tamaño máximo */
    height: auto;
    display: block;
    margin: 0 auto 16px auto;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* ============================
Contenido principal
============================ */

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-image: url("/Imagenes/fondo.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.chart-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* .chart-card.full-width {
    grid-column: 1/3;
} */

.chart-card h2 {
    margin-bottom: 15px;
    color: #1e4d91;
}
