html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url("/Imagenes/fondo.png"); /* fondo con huellitas */
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 3px solid #1e4d91;
    padding: 10px 20px;
    .logo {
        height: 50px;
        margin-right: 10px;
    }
}

header h1 {
    color: #1e4d91;
    font-size: 24px;
    margin: 0;
}

/* Contenedor del formulario */
.form-container {
    background-color: white;
    width: 45%;
    margin: 40px auto;
    padding: 30px;
    border: 2px solid orange;
    border-radius: 15px;
    text-align: center;
}

.form-container h2 {
    color: #1e4d91; /* Azul similar al que usas en el header */
}

/* Estilo del formulario */
form input,
form select,
form button {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
    border: 2px solid #1e4d91;
    font-size: 14px;
}

form button {
    background-color: #1e4d91;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #16396e;
}

.label-rol {
    display: block;
    width: 90%;
    margin: 10px auto 5px;
    text-align: left;
    font-weight: 600;
}
